.calendar-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1; /* 残りのスペースをすべて使用 */
  height: 100%;
  padding: 30px;
}

.add_googlecalender {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: space-evenly;
}


/* FullCalendar全体のカスタマイズ */
.fc {
  font-family: 'Arial, sans-serif';
  height: 100%;
  width: 100%;
}

/* カレンダーのヘッダーのカスタマイズ */
.fc-toolbar-title {
  font-size: 24px;
  color: #333;
}

.fc-button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}

.fc-button:hover {
  background-color: #0fa377;
  
}


.fc-daygrid-day {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.fc-day-today {
  background-color: #e9ecef !important;
}

/* イベントのカスタマイズ */
.free_event {
  background-color: #67e78d;
  border-color: #67e78d;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.google_calendar_event {
  background-color: #afadad;
}
.google_calendar_event:hover {
  background-color: #afadad;
}

.free_event:hover {
  background-color: #50ce78;
}
  


